.container-cards {
  display: flex;
  justify-content: center;
}

.row-cards {
  position: inherit;
  justify-content: center;
}

.row-cards a {
  color: inherit;
  text-decoration: inherit;
}

.card-outline {
  margin: 1vh;
}

.card-product {
  padding: 1vh;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #ccc;
  transition: all 0.5s ease-in-out;
}

.card-top {
  display: flex;
  justify-content: space-between;
  margin: 0 1vh 1vh 1vh;
}

.card-top span {
  font-weight: bold;
  font-size: 1.5rem;
}

.card-middle {
  display: flex;
  justify-content: space-between;
  margin: 0 1vh;
}

.card-product img {
  height: inherit;
  width: inherit;
  border-radius: 5px;
  position: relative;
  object-fit: cover;
}

.card-details {
  position: relative;
  width: calc(100% - 293px);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 1em 0 1em;
}

.card-details span {
  display: inline-block;
  margin-left: 1rem;
  font-weight: 500;
}

.card-details text {
  margin-left: 0.5rem;
}

.card-product h2 {
  position: inherit;
  left: 4.24%;
  right: 40.99%;
  top: 71.86%;
  bottom: 20%;

  font-family: Exo, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  position: relative;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-product:hover {
  transform: scale(1.1);
  // transition-duration: 0.8s;
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.4);
  z-index: 3;
  border-color: #007bff !important;
}
