<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Cars list</title>
</head>
<body>
<div class="container">

  <h3>Cars List</h3>
  <hr>

  <table class="table table-bordered table-striped">
    <thead class="table-dark">
    <tr>
      <th>Id</th>
      <th>Make</th>
      <th>Model</th>
      <th>Body Type</th>
      <th>Fuel Type</th>
      <th>Price</th>
      <th>Horsepower</th>
      <th>Gearbox</th>
      <th>Door Number</th>
      <th>Color</th>
      <th>Image</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="car : ${cars}">

      <td th:text="${car.id}"></td>
      <td th:text="${car.make}"></td>
      <td th:text="${car.model}"></td>
      <td th:text="${car.bodyType}"></td>
      <td th:text="${car.fuelType}"></td>
      <td th:text="${car.price}"></td>
      <td th:text="${car.horsepower}"></td>
      <td th:text="${car.gearbox}"></td>
      <td th:text="${car.doorNumber}"></td>
      <td th:text="${car.color}"></td>
      <td th:text="${car.image}"></td>

    </tr>
    </tbody>
  </table>

</div>
</body>
</html>