<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>Cars list</title>
  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/main.css" />
  <link rel="stylesheet" type="text/css" href="/css/cards.css" />
</head>
<body>
<div class="container my-4 mx-lg-auto">

  <h3 class="text-center">Car List</h3>
  <hr>
  <div class="container" id="container-cards">
    <div class="row" id="row-cards">
      <div th:each="car : ${cars}">
        <a href="" >
          <div id="card-product">
            <div id="card-top">
              <span th:text="${car.make} + ' ' + ${car.model}"></span>
              <span th:text="${car.price} + ' €'"></span>
            </div>
            <div id="card-img">
              <img th:src="${car.image}" alt="Missing image"/>
            </div>
            <div id="card-details" >
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

</div>
</body>
</html>