<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <title>Header</title>
  <link rel="stylesheet" type="text/css" href="/css/header.css" />
</head>

<body>
<div th:fragment="site-header" class="fixed-top bg-primary">
  <div class="components px-5 pt-1">
    <nav class="navbar navbar-light">
      <span>
        <a th:href="@{/cars}" class="navbar-brand text-white">Home</a>
      </span>
      <span sec:authorize="isAuthenticated()">
        <div class="components">
          <a th:href="@{/profile}" class="navbar-brand text-white me-3">My Profile</a>
          <a href="javascript: document.logoutForm.submit()" class="navbar-brand text-white ms-3">Log Out</a>

          <form name="logoutForm" th:action="@{/logout}" method="POST" th:hidden="true">
            <input type="submit" value="Logout" />
          </form>

        </div>
      </span>
      <span sec:authorize="isAnonymous()">
        <a th:href="@{/showLoginPage}" class="navbar-brand text-white ms-3">Login</a>
      </span>
    </nav>
  </div>
</div>
</body>
</html>