<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/main.css" />
</head>
<body>

  <div class="container-fluid">
    <h1>Welcome, <span sec:authentication="name"></span>!</h1>
    <div th:if="${#authentication}">
      <form action="#" th:action="@{/logout}" method="POST">
        <input type="submit" value="Logout" />
      </form>
    </div>
    <div>
      <a th:href="@{/cars}" class="btn btn-primary btn-block">
        List cars
      </a>
    </div>
  </div>
</body>
</html>